include ./mixins.pug 
html(lang="en")
  head
    title Jeff Arn Portfolio
    meta(name='description', content='Jeff Arn portfolio site')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Press+Start+2P')
  body
    section#hero
      div.inner-content.hero-content
        img(src="./images/hero.png")
        div.hero-announcement
          h1.hero-title JEFF ARN
          h2.hero-subtitle DEVELOPMENT SYSTEM
          p INSTRUCTION BOOKLET
    section#info.container
      div.inner-content
        h1.heading Included Components
        each component in content.components
          +component(component)
      p.page-number Page 2
    section#project.container
      div.inner-content
        h1.heading Project Catalog
        div.project-list
          each project in content.projects
            +project(project)
      p.page-number Page 3
    section#game.container
      div.inner-content
        div#gamebox.gamebox
          span#game-score.game-score 0
          span#game-lives.game-lives 3
          div#gamebox-overlay.gamebox-overlay
            button#start-button
              p Start Game
      p.page-number Page 4
    footer.container.footer
      div.inner-content
        h1.heading More Information
        div.container.footer-link-list
          each footerLink in content.footerLinks
            +footerLink(footerLink)
    script(src='main.bundle.js')
