mixin project(detailsObj)
  div.project
    a(href="#")
      div.project-inner
        img(src="https://placemat.imgix.net/placeholder_images/images/000/000/256/original/14726790703_651229abd1_b.jpg?ixlib=rb-1.0.0&w=256&h=256&fm=auto&crop=faces%2Centropy&fit=crop&txt=256%C3%97256&txtclr=BFFF&txtalign=middle%2Ccenter&txtfit=max&txtsize=42&txtfont=Avenir+Next+Demi%2CBold&bm=multiply&blend=ACACAC&s=da443d99573adda5ac44f7c2ee2f82ce")
        h3= detailsObj.title
        p= detailsObj.description
